version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "04:00"
      timezone: "US/Eastern"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "04:00"
      timezone: "US/Eastern"
