[submodule "external/stdpp"]
	path = external/stdpp
	url = https://gitlab.mpi-sws.org/iris/stdpp.git
[submodule "external/coqutil"]
	path = external/coqutil
	url = https://github.com/mit-plv/coqutil
[submodule "external/record-update"]
	path = external/record-update
	url = https://github.com/tchajed/coq-record-update
[submodule "external/iris"]
	path = external/iris
	url = https://gitlab.mpi-sws.org/iris/iris.git
	branch = master
[submodule "external/coq-tactical"]
	path = external/coq-tactical
	url = https://github.com/tchajed/coq-tactical
[submodule "external/iris-named-props"]
	path = external/iris-named-props
	url = https://github.com/tchajed/iris-named-props
[submodule "external/diaframe"]
	path = external/diaframe
	url = https://gitlab.mpi-sws.org/iris/diaframe.git
