/build
/bin
/doc
*.lia.cache
*.nia.cache
*.nra.cache

# emacs
*.aux
*.*~

# vim
*.swp

# CoqIDE files
\#*#

# Coq compiled files
*.vo
*.vos
*.vok
*.v.d
*.glob
.coqdeps.d
_CoqProject

/.timing.sqlite3

# Python
__pycache__
.mypy_cache
*.pyc
