/build
/bin
/doc
/.lia.cache
/*/.stack-work
/*/extract
/lab*-handin.tar.gz

# emacs
*.aux
*.*~

# vim
*.swp

# CoqIDE files
\#*#

# Coq compiled files
*.vo
*.v.d
*.glob
.coqdeps.d
_CoqProject

# created by remap-nbd
/disk.img

# created by replicate-nbd
/disk0.img
/disk1.img
