/build
/bin
/doc
/.lia.cache
/*/.stack-work
extract/

# emacs
*.aux
*.*~

# vim
*.swp

# CoqIDE files
\#*#

# Coq compiled files
*.vo
*.v.d
*.glob
.coqdeps.d
_CoqProject

# created by logging-client
/disk0.img
/disk1.img
