{{ define "ValueType" -}}
{{- if .TypeParams }}({{.PkgName}}.{{.Name}} {{- range $param := .TypeParams }} {{$param}}'{{ end -}}){{ else }}{{.PkgName}}.{{.Name}}{{ end -}}
{{- end -}}

{{ define "GoTypeImpl" -}}
{{- if .TypeParams }}({{.PkgName}}.{{.ImplName}} {{- range $param := .TypeParams }} {{$param}}{{ end -}}){{ else }}{{.PkgName}}.{{.ImplName}}{{ end -}}
{{- end -}}

{{ define "TypedPointstoParams" -}}
{{- range $param := . -}}{ {{- $param}}' : Type} [TypedPointsto (GF := GF) {{$param}}'] {{ end -}}
{{- end -}}

{{ define "IntoValParams" -}}
{{- range $p:= . -}}
({{$p}} : go.GoType) { {{- $p}}' : Type} [ZeroVal {{$p}}'] [TypedPointsto (GF := GF) {{$p}}'] [IntoValTyped (GF := GF) {{$p}}' {{$p}}] {{ end -}}
{{- end -}}

{{- range $t := .Types -}}
namespace {{$t.Name}}
section def_

{{ if eq $.Ffi "" -}}
variable [ext : FfiSyntax] [ffi : FfiModel] [FfiInterp ffi] [FfiSemantics ext ffi] [go_gctx : GoGlobalContext]
{{ else -}}
-- the FFI instances are global (from the {{ $.Ffi }} prelude)
variable [go_gctx : GoGlobalContext]
{{ end -}}
variable {hlc : HasLC} {GF : BundledGFunctors} [hG : HeapGS hlc GF]
{{ if $.Bootstrap -}}
variable [sem_fn : GoSemanticsFunctions] [pre_sem : go.PreSemantics]
{{ else -}}
variable [sem : go.Semantics]
{{ end -}}
variable [package_sem' : {{$t.PkgName}}.Assumptions]

{{ if $t.Axiomatize -}}
instance {{leanq (print $t.RawName "_typed_pointsto")}} {{ template "TypedPointstoParams" $t.TypeParams }}:
    TypedPointsto (GF := GF) {{template "ValueType" $t}} :=
  sorry -- axiomatized type
{{- else -}}
{{ if gt (len $t.LeanFields) 48 -}}
-- many fields: the instance search for the points-to's DFractional/Timeless is large
set_option synthInstance.maxSize 1024 in
set_option synthInstance.maxHeartbeats 200000 in
{{ end -}}
instance {{leanq (print $t.RawName "_typed_pointsto")}} {{ template "TypedPointstoParams" $t.TypeParams }}:
    TypedPointsto (GF := GF) {{template "ValueType" $t}} where
  typedPointstoDef l v dq := iprop(
{{- range $f := $t.LeanFields }}
    {{$f.HypName}} ∷ typedPointsto (structFieldRef {{template "ValueType" $t}} {{$f.GoString}} l) v.{{$f.Proj}} dq ∗
{{- end }}
    "_" ∷ True)
  typedPointstoDef_dfractional := by solve_typed_pointsto_dfractional
  typedPointstoDef_timeless := by solve_typed_pointsto_timeless
  typedPointsto_agree := by solve_typed_pointsto_agree
{{- end }}

instance {{leanq (print $t.RawName "_into_val_typed")}} {{ template "IntoValParams" $t.TypeParams }}:
    IntoValTypedUnderlying (GF := GF) {{template "ValueType" $t}} {{ template "GoTypeImpl" $t}} :=
{{- if $t.Axiomatize }}
  sorry -- axiomatized type
{{- else }} by
  solve_into_val_typed_struct
{{- end }}
{{ range $f := $t.LeanFields }}
instance {{leanq (print $t.RawName "_access_load_" $f.Name)}} {{ template "TypedPointstoParams" $t.TypeParams }}(l : Loc) (v : {{ template "ValueType" $t}}) (dq : DFrac) :
    AccessStrict (PROP := IProp GF)
      (typedPointsto (structFieldRef {{template "ValueType" $t}} {{$f.GoString}} l) v.{{$f.Proj}} dq)
      (typedPointsto (structFieldRef {{template "ValueType" $t}} {{$f.GoString}} l) v.{{$f.Proj}} dq)
      (typedPointsto l v dq) (typedPointsto l v dq) :=
 by
  solve_pointsto_access_struct

instance {{leanq (print $t.RawName "_access_store_" $f.Name)}} {{ template "TypedPointstoParams" $t.TypeParams }}(l : Loc) (v : {{ template "ValueType" $t}}) ({{$f.Proj}} : {{$f.Type}}) :
    AccessStrict (PROP := IProp GF)
      (typedPointsto (structFieldRef {{template "ValueType" $t}} {{$f.GoString}} l) v.{{$f.Proj}} (DFrac.own 1))
      (typedPointsto (structFieldRef {{template "ValueType" $t}} {{$f.GoString}} l) {{$f.Proj}} (DFrac.own 1))
      (typedPointsto l v (DFrac.own 1)) (typedPointsto l ({ v with {{$f.Proj}} := {{$f.Proj}} } : {{ template "ValueType" $t}}) (DFrac.own 1)) :=
 by
  solve_pointsto_access_struct
{{ end }}
end def_
end {{$t.Name}}

{{ end -}}
