<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
<style type="text/css">
body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em;
    font-family: Open Sans, arial;
    line-height: 140%;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    color: #111;
    line-height: 125%;
    font-weight: normal;
}
.title {
    font-size: 2em;
}
h1 {
    margin-top: 2em;
    font-size: 1.8em;
}
h2, h3, h4 {
    margin-top: 1em;
    font-size: 1.5em;
}
code {
    font-family: "Lucida Console", Monaco, monospace
}
</style>
