name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  schedule:
    # every day at 9am UTC (4am EST).
    - cron: "0 9 * * *"
  # allow running action manually.
  workflow_dispatch:

env:
  UV_VERSION: "0.9.11"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        coq_version:
          - dev
          - "9.1"
      max-parallel: 4
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: ${{ env.UV_VERSION }}
      - uses: coq-community/docker-coq-action@v1
        with:
          coq_version: ${{ matrix.coq_version }}
          ocaml_version: "default"
          install: |
            startGroup Install dependencies
              sudo apt-get update
              sudo apt-get install -y sqlite3
            endGroup
          # for permissions issue, see:
          # https://github.com/coq-community/docker-coq-action#permissions.
          before_script: |
            sudo chown -R 1000:1000 .
          script: |
            startGroup Build
              make -j4 -k ci
            endGroup
          uninstall:
      - name: Revert permissions
        if: ${{ always() }}
        run: sudo chown -R 1001:116 .
      - name: Report timing statistics
        run: |
          ./etc/timing-report.py --max-files 50

  check-goose:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: ${{ env.UV_VERSION }}
      - uses: actions/setup-go@v6
        with:
          # pin exact version for deterministic stdlib translation.
          go-version: "1.24.9"
          # repo doesn't have go.sum file. nothing to cache.
          cache: false
      - name: build ci-use-goose-pr
        run: |
          cd etc/ci-use-goose-pr
          go install .
      - name: check that Goosed files are clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            ci-use-goose-pr -pr ${{ github.event.number }} -verbose
            ./etc/ci-goose-check.py --new-goose-url "$( ci-use-goose-pr -pr ${{ github.event.number }} )"
          else
            ./etc/ci-goose-check.py
          fi

  check-grackle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: ${{ env.UV_VERSION }}
      - name: Install protoc
        run: sudo apt-get install protobuf-compiler -y
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"
          cache: false
      - name: Check Grackle
        run: |
          ./etc/ci-grackle-check.py
          git diff --exit-code

  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
      - run: pip install .
      - name: Format
        run: ruff format --diff
      - name: Lint
        run: ruff check

  toml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install taplo
        # NOTE: periodically update taplo version.
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/download/0.10.0/taplo-linux-x86_64.gz \
            | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
      - name: Format toml files
        run: taplo format --check --diff
