name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  schedule:
    # every day at 9am UTC (4am EST).
    - cron: "0 9 * * *"
  # allow running action manually.
  workflow_dispatch:

env:
  UV_VERSION: "0.9.11"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rocq-version:
          - weekly
          - latest
      max-parallel: 4
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
      - name: Install Rocq
        uses: tchajed/setup-rocq@v1
        with:
          rocq-version: "${{ matrix.rocq-version }}"
      - name: Install build dependencies
        run: |
          opam install --deps-only ./perennial.opam
      - name: Rocq build
        run: |
          make -j4 -k ci
      - name: Report timing statistics
        run: ./etc/timing-report.py --max-files 50

  check-goose:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
      - uses: actions/setup-go@v6
        with:
          # pin exact version for deterministic stdlib translation.
          go-version: "1.24.9"
          # repo doesn't have go.sum file. nothing to cache.
          cache: false
      - name: install gh-paired-pr
        run: |
          go install github.com/tchajed/gh-paired-pr@latest
      - name: check that Goosed files are clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            gh-paired-pr -base mit-pdos/perennial -dependency goose-lang/goose -pr ${{ github.event.number }} -verbose
            ./etc/ci-goose-check.py --new-goose-url "$( gh-paired-pr -base mit-pdos/perennial -dependency goose-lang/goose -pr ${{ github.event.number }} )"
          else
            ./etc/ci-goose-check.py
          fi

  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
      - run: pip install .
      - name: Format
        run: ruff format --diff
      - name: Lint
        run: ruff check

  toml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install taplo
        # NOTE: periodically update taplo version.
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/download/0.10.0/taplo-linux-x86_64.gz \
            | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
      - name: Format toml files
        run: taplo format --check --diff
