name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  schedule:
    # every day at 9am UTC (4am EST).
    - cron: "0 9 * * *"
  # allow running action manually.
  workflow_dispatch:

env:
  UV_VERSION: "0.9.11"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rocq-version:
          - dev
          # note: the actual version here is ignored for pinning (the latest
          # release will be installed)
          - "9.1"
      max-parallel: 4
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
      - name: Install OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "4.14.x"
          cache-prefix: "v1-rocq-${{ matrix.rocq-version }}"
          dune-cache: false
          opam-disable-sandboxing: true
          opam-pin: false
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            rocq-released: https://rocq-prover.github.io/opam/released
            rocq-core-dev: https://rocq-prover.github.io/opam/core-dev
      - name: Cache opam
        uses: actions/cache@v4
        with:
          path: "_opam"
          key: opam-${{ runner.os }}-${{ matrix.rocq-version }}-${{ hashFiles('*.opam') }}
      - name: Build opam dependencies
        run: |
          opam update
          if [ "${{ matrix.rocq-version }}" = "dev" ]; then
            opam pin add -n -y rocq-runtime.dev git+https://github.com/rocq-prover/rocq.git --yes
            opam pin add -n -y rocq-core.dev git+https://github.com/rocq-prover/rocq.git --yes
            opam pin add -n -y coq-core.dev git+https://github.com/rocq-prover/rocq.git --yes
            opam pin add -n -y coq-stdlib.dev git+https://github.com/rocq-prover/stdlib.git --yes
            opam pin add -n -y coq.dev --dev-repo
          fi
          opam pin add -n -y .
          # TODO: is this reliable? without it caching doesn't work
          opam reinstall --forget-pending
          opam install -y . --deps-only
      - name: Install build dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y sqlite3
      - name: Rocq build
        run: |
          eval $(opam env)
          make -j4 -k ci
      - name: Report timing statistics
        run: ./etc/timing-report.py --max-files 50

  check-goose:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
      - uses: actions/setup-go@v6
        with:
          # pin exact version for deterministic stdlib translation.
          go-version: "1.24.9"
          # repo doesn't have go.sum file. nothing to cache.
          cache: false
      - name: build ci-use-goose-pr
        run: |
          cd etc/ci-use-goose-pr
          go install .
      - name: check that Goosed files are clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            ci-use-goose-pr -pr ${{ github.event.number }} -verbose
            ./etc/ci-goose-check.py --new-goose-url "$( ci-use-goose-pr -pr ${{ github.event.number }} )"
          else
            ./etc/ci-goose-check.py
          fi

  check-grackle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
      - name: Install protoc
        run: sudo apt-get install protobuf-compiler -y
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"
          cache: false
      - name: Check Grackle
        run: |
          ./etc/ci-grackle-check.py
          git diff --exit-code

  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
      - run: pip install .
      - name: Format
        run: ruff format --diff
      - name: Lint
        run: ruff check

  toml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install taplo
        # NOTE: periodically update taplo version.
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/download/0.10.0/taplo-linux-x86_64.gz \
            | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
      - name: Format toml files
        run: taplo format --check --diff
