translate = [
  "!*",
  "rwmutexMaxReaders",
  "RWMutex",
  "RWMutex.*",

  "WaitGroup",
  "WaitGroup.*",
  "noCopy",
  "rlocker",
  "Once",
  "Once.*",
  "Cond",
  "Cond.*",
  "NewCond",
  "Locker",

  "expunged",
]

imports = ["sync/atomic", "internal/race"]

axiomatize = ["notifyList", "copyChecker", "copyChecker.*"]

trusted = [
  # Unlike WaitGroup, one cannot translate and verify Mutex methods because they
  # actually have data races (and the race detector is explicitly disabled on
  # the sync package for these reasons).
  # E.g. in Mutex.Lock:
  # https://github.com/golang/go/blob/ff27d270c9f95178f9749bc8e1f15957b1c1d5b3/src/internal/sync/mutex.go#L100
  "Mutex",
  "Mutex.*",

  "runtime_notifyList*",

  "runtime_Semacquire*",
  "runtime_Semrelease",
]

[bootstrap]
enabled = true
prelude = [
  "From New.golang.defn Require Export slice array map string interface defer builtin.",
]
